.page{
    margin: 0px;
    padding: 5px;
}
.nav-item a{
    font-weight: 400;
     font-size: 16px;
    color:  #0D6EFD;
}
.nav-item a:hover{
    color:  #0D6EFD;
    text-decoration:underline;
}
.navbar-brand{
    font-weight: 400;
font-size: 16px;
color: #495057;
}

.btn:hover{
    text-decoration:underline;
   
}
#cards{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3,1fr);
   gap: 20px;
}
.accordion{
display: flex;
flex-direction: column;
justify-content: center;
align-items:stretch;
}

input[type="text"]{
    
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 0px;
}
input[type="email"]{
    margin-bottom: 15px;
    border-radius: 0px;
}
input[type="password"]{
    margin-bottom: 15px;
    border-radius: 0px;
}
@media (max-width:428px) {
    #cards{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
       gap: 20px;
    }
}